.arrow {
  cursor: pointer;
  transition: opacity 300ms;
  opacity: 0.1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -80px;

  &:hover {
    opacity: 1;
  }
}

.next {
  transform: rotate(180deg);
  left: unset;
  right: -80px;
}