.postContainer {
  padding: 100px 0 150px;
  max-width: 840px;
  margin: 0 auto;
  position: relative;

  h1 {
    font-size: 80px;
    font-family: 'Lato';
    text-align: center;
  }

  p {
    margin: 0 30px;
    line-height: 2.5rem;
    padding: 20px 0;
  }

  p img {
    margin-left: -30px;
    object-fit: cover;
    height: 450px;
    width: 840px;
  }
}

.date {
  text-align: center;
  font-size: 14px;
  opacity: 0.3;
}