@import './typography';
@import './slick';

a {
  text-decoration: none;
  color: currentColor;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 1240px;
  margin: 0 auto;

  ul {
    list-style: none;
  }
  li {
    list-style: none;
  }
}