@import url('https://fonts.googleapis.com/css?family=Lato:300,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');

body {
  font-family: 'Lato', sans-serif; 
}

h1 {
  font-size: 22px;
  font-weight: 700;
  min-height: 50px;
}

p {
  font-size: 24px;
  font-weight: 300;
}